<app-notification #notification [message]="successMessage" [color]="notification.color"></app-notification>
<div class="flex justify-center items-center flex-col">
    <div>
        <h1 class="font-mono text-4xl mb-5">Products</h1>
    </div>
    <div class="flex justify-center items-center">
        <app-confirm-dialog (confirm)="deleteProduct(this.selectedProductId)"></app-confirm-dialog>
    </div>

    <a
        href="#"
        routerLink="/products/create/"
        class="py-2 px-5 bg-green-400 text-white font-semibold rounded-full shadow-md hover:bg-green-600 mb-10"
        >Create New Product</a
    >

    <div>
        <p-table
            #dt2
            [value]="products"
            dataKey="id"
            stripedRows
            [globalFilterFields]="['name', 'description', 'price', 'id']"
            [tableStyle]="{ 'min-width': '50rem' }"
        >
            <ng-template #caption>
                <input
                    class="w-full m-1"
                    pInputText
                    type="text"
                    (input)="onGlobalFilter($event)"
                    placeholder="Search keyword"
                />
            </ng-template>

            <ng-template #header>
                <tr>
                    <th style="width: 16.67%" pSortableColumn="id">
                        ID
                        <p-sortIcon field="id" />
                    </th>
                    <th style="width: 16.67%" pSortableColumn="name">
                        Name
                        <p-sortIcon field="name" />
                    </th>
                    <th style="width: 16.67%" pSortableColumn="description">
                        Description
                        <p-sortIcon field="description" />
                    </th>
                    <th style="width: 16.67%" pSortableColumn="price">
                        Price
                        <p-sortIcon field="price" />
                    </th>
                    <th style="width: 16.67%">Date</th>
                    <th style="width: 16.67%">Actions</th>
                </tr>
            </ng-template>

            <ng-template #body let-product>
                <tr>
                    <td class="w-5">{{ product.id }}</td>
                    <td class="w-5">{{ product.name }}</td>
                    <td class="w-5">{{ product.description }}</td>
                    <td class="w-5">${{ product.price }}</td>
                    <td class="w-5">
                        {{ formatDate(product.createdDate) }}
                    </td>
                    <td>
                        <div class="flex justify-center">
                            <a
                                href="#"
                                [routerLink]="['/products/', product.id, 'edit']"
                                class="py-2 px-5 bg-green-400 text-white font-semibold rounded-full shadow-md hover:bg-green-700"
                                >Edit</a
                            >
                            <button
                                type="button"
                                (click)="onDelete(product.id)"
                                class="py-2 px-5 bg-red-500 text-white font-semibold rounded-full shadow-md hover:bg-red-800"
                            >
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template #emptymessage>
                <tr>
                    <td colspan="5">No products found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
